region                      = "KVM@TACC"
cluster_name                = "mlproject11"
private_network_id          = "6f076311-d633-4455-999e-b95fedb86a7d"
private_network_name        = "network_proj11"
private_subnet_id           = "af5b60e1-c398-4a60-bb91-4cdd6b1fe690"
private_subnet_cidr         = "192.168.1.0/24"
external_network_name       = "public"
image_name                  = "CC-Ubuntu24.04"
control_plane_flavor_name   = "m1.xlarge"
worker_flavor_name          = "m1.xlarge"
ssh_keypair_name            = "id_rsa_chameleon"
ssh_private_key_path        = "~/.ssh/id_rsa_chameleon"
ssh_user                    = "cc"
ssh_allowed_cidr            = "0.0.0.0/0"
kubernetes_api_allowed_cidr = "0.0.0.0/0"
http_allowed_cidr           = "0.0.0.0/0"
https_allowed_cidr          = "0.0.0.0/0"
control_plane_lease_id      = "7cb53d22-1f26-406f-9b00-e77c9bdb3d5e"
control_plane_reservation_id = "71b2315d-a841-4efb-a98f-d58852bfeeb9"
worker_lease_id             = "938578cf-ed9c-467f-8204-300032edec9e"
worker_reservation_id       = "3b97c07c-f507-434f-8af3-7c06967d13fd"
control_plane_name          = "mlproject11-controlnode"
worker_name                 = "mlproject11-workernode1"
router_name                 = "mlproject11-router"
